%a{:href => "/users/auth/twitter", :class => "auth_provider"}
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
  Twitter
%a{:href => "/users/auth/facebook", :class => "auth_provider"}
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
  Facebook
%a{:href => "/users/auth/google_apps", :class => "auth_provider"}
  = image_tag "google_apps_64.png", :size => "64x64", :alt => "Google"
  Google

.clear
